/* Estilos gerais */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #4891ff;
    color: #00b7ff;
}

header {
    background-color: #0be2ff;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo h1 {
    margin: 0;
    font-size: 30px;
}

header .search-bar {
    display: flex;
}

header .search-bar input {
    padding: 10px;
    font-size: 16px;
    width: 250px;
    border: 2px solid #ccc;
    border-radius: 4px;
}

header .search-bar button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 4px;
    margin-left: 10px;
}

.car-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.car {
    background-color: white;
    padding: 20px;
    margin: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 280px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

.car:hover {
    transform: translateY(-10px);
}

.car img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.car h3 {
    margin: 10px 0;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#message {
    text-align: center;
    color: red;
    margin: 20px 0;
}
